<footer>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="footer-widgets">
          <h4 class="title">{{ footerText[seciliDil].komurBaslik }}</h4>
          <p class="description">
            {{ footerText[seciliDil].komurIcerik }}
          </p>
        </div>
      </div>
      <div class="span4">
        <div class="footer-widgets">
          <h4 class="title">{{ footerText[seciliDil].iletisimBaslik }}</h4>
          <p class="description">
            iletisim@ekosfer.org
          </p>
          <div class="row-fluid">
            <div class="span10">
              <p>Mimar Sinan Mh. Selamiali Efendi Cd. Eser Çarşısı N:20/1/69 Üsküdar</p>
            </div>
          </div>
        </div>
      </div>
      <div class="span2">
        <div class="footer-widgets">
          <h4 class="title">{{ footerText[seciliDil].takipBaslik }}</h4>
          <p><a target="_blank" href="http://facebook.com/ekosferorg">Facebook</a></p>
          <p><a target="_blank" href="https://twitter.com/ekosferorg">Twitter</a></p>
          <p>
            <a target="_blank" href="https://www.instagram.com/ekosferorg/">Instagram</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="subfooter">
  <div class="container">
    <div class="row">
      <div class="span1">
        <a target="_blank" href="https://ekosfer.org/" class="footer-logo"
          ><img src="assets/arsiv/img/ekosfer-logo-yuksek.png" alt="ekosfer"
        /></a>
      </div>
      <div class="span11">
        <p class="copy">{{ footerText[seciliDil].copyright }}</p>
      </div>
    </div>
  </div>
</div>
