<!--<section class="picture-categories">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="span1">-->
<!--        <h4 class="title">Categories</h4>-->
<!--      </div>-->
<!--      <div class="span11">-->
<!--        <div class="tabbable">-->
<!--          <ul class="nav nav-tabs">-->
<!--            <li class="active">-->
<!--              <a href="#tab1" data-toggle="tab"><i class="icon-picture icon-large"></i></a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#tab2" data-toggle="tab"><i class="icon-facetime-video icon-large"></i></a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <section class="categories-back">-->
<!--    <div class="container">-->
<!--      <div class="tab-content">-->
<!--        <div class="tab-pane active" id="tab1">-->
<!--          <div class="row">-->
<!--            <ul class="unstyled cat-list tag-list">-->
<!--              <li><a href="#">Abstract</a></li>-->
<!--              <li><a href="#">Editorial</a></li>-->
<!--              <li><a href="#">Miscellaneous</a></li>-->
<!--              <li><a href="#">Signs/Symbols</a></li>-->
<!--              <li><a href="#">Abstract</a></li>-->
<!--              <li><a href="#">Editorial</a></li>-->
<!--              <li><a href="#">Miscellaneous</a></li>-->
<!--              <li><a href="#">Signs/Symbols</a></li>-->
<!--              <li><a href="#">Abstract</a></li>-->
<!--              <li><a href="#">Editorial</a></li>-->
<!--              <li><a href="#">Miscellaneous</a></li>-->
<!--              <li><a href="#">Signs/Symbols</a></li>-->
<!--              <li><a href="#">Abstract</a></li>-->
<!--              <li><a href="#">Editorial</a></li>-->
<!--              <li><a href="#">Miscellaneous</a></li>-->
<!--              <li><a href="#">Signs/Symbols</a></li>-->
<!--              <li><a href="#">Abstract</a></li>-->
<!--              <li><a href="#">Editorial</a></li>-->
<!--              <li><a href="#">Miscellaneous</a></li>-->
<!--              <li><a href="#">Signs/Symbols</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="tab-pane" id="tab2">-->
<!--          <div class="row">-->
<!--            <ul class="unstyled cat-list tag-list">-->
<!--              <li><a href="#">Video 1</a></li>-->
<!--              <li><a href="#">Video 2</a></li>-->
<!--              <li><a href="#">Video 3</a></li>-->
<!--              <li><a href="#">Video 4</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</section>-->
<section class="search-results">
  <div class="container custom-container">
    <div class="row">
      <div class="search-result-title">
        <div class="row-fluid">
          <div class="span8">
            <h4 class="title">Search Results (35) - <span>Abstract Backgrounds</span></h4>
          </div>
          <div class="span4">
            <div class="portfolio-controllers-container">
              <p class="pull-left sort-title">Sort by -</p>
              <div class="btn-group">
                <button class="btn btn-large">Tümü</button>
                <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="filters">
                  <li><a href="#" data-filter="*" class="selected">Tümü</a></li>
                  <li><a href="#" data-filter=".transition">Yatay</a></li>
                  <li><a href="#" data-filter=".metal">Dikey</a></li>
                  <li><a href="#" data-filter=".alkali">Tarihe Göre (Eski)</a></li>
                  <li><a href="#" data-filter=".alkali">Tarihe Göre (Yeni)</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <section class="top-images v2">
          <div class="images-container v3">
            <div class="row">
              <div id="portfolio-container">
                <cdk-virtual-scroll-viewport itemSize="100" class="arsiv-scrollbar">
                  <li *cdkVirtualFor="let arsivGorsel of arsivGorselDataSource">
                    <div *ngIf="arsivGorsel">
                      <div class="span6">
                        <figure class="top-img">
                          <img class="arsiv-gorsel" src="assets/img/work/1.jpg" alt="img" />

                          <figcaption class="img-meta">
                            <div class="row-fluid">
                              <div class="span8">
                                <a href="#" class="img-id">#154895856</a>
                                <a href="#" class="img-tags">{{ arsivGorsel.DosyaAd }}</a>
                                <a href="#" class="img-tags">/ Textures</a>
                              </div>
                              <div class="span4">
                                <div class="dropdown">
                                  <a
                                    href="#"
                                    class="btn download-btn dropdown-toggle"
                                    type="button"
                                    data-toggle="dropdown"
                                    ><i class="icon-download"></i
                                  ></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">1920 x 1080</a></li>
                                    <li><a href="#">2560 x 1440</a></li>
                                    <li><a href="#">3840 x 2160</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </figcaption>

                          <div class="roll-over" (click)="gorselDetayDialogAc()"></div>
                        </figure>
                      </div>
                    </div>
                    <div *ngIf="!arsivGorsel">
                      Loading ...
                    </div>
                  </li>
                </cdk-virtual-scroll-viewport>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<section class="call-to-action-txt">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h5 class="center title">Can’t find what you are looking for? Why don’t you <a href="#">let us know.</a></h5>
      </div>
    </div>
  </div>
</section>
