<link
  href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic"
  rel="stylesheet"
  type="text/css"
/>
<div class="navbar navbar-inverse-blue navbar-fixed-top">
  <div class="navbar-inner navbar-custom">
    <div class="container">
      <div class="navigation">
        <a class="brand brand-custom" href="index.html"><img src="assets/arsiv/img/logo2.png" alt="logo"/></a>
        <div class="input-append navbar-search-input">
          <input
            class="span5"
            id="navbar-search"
            type="text"
            placeholder="Enter Keywords "
            name="searchItems"
            (keypress)="etiketAramaInputChanged($event)"
            [(ngModel)]="etiketAramaParam"
          />
          <ng-container *ngFor="let etiket of etiketAramaParamArray; let i = index">
            <button [ngClass]="{ 'tag-margin': i !== 0 }" class="btn tag-btn">
              {{ etiket }} <i class="icon-remove alert-danger" (click)="arrayEtiketSil(etiket)"></i>
            </button>
          </ng-container>
          <button class="btn" type="submit"><i class="icon-search"></i></button>
        </div>
        <div class="container">
          <div class="row">
            <div class="span1">
              <h4 class="title">Categories</h4>
            </div>
            <div class="span11">
              <div class="tabbable">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#tab1" data-toggle="tab"><i class="icon-picture icon-large"></i></a>
                  </li>
                  <li>
                    <a href="#tab2" data-toggle="tab"><i class="icon-facetime-video icon-large"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container navbar-tag-container">
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <div class="row">
                <ul class="unstyled navbar-tag-list">
                  <li><a href="#">Abstract</a></li>
                  <li><a href="#">Editorial</a></li>
                  <li><a href="#">Miscellaneous</a></li>
                  <li><a href="#">Signs/Symbols</a></li>
                  <li><a href="#">Abstract</a></li>
                  <li><a href="#">Editorial</a></li>
                  <li><a href="#">Miscellaneous</a></li>
                  <li><a href="#">Signs/Symbols</a></li>
                  <li><a href="#">Abstract</a></li>
                  <li><a href="#">Editorial</a></li>
                  <li><a href="#">Miscellaneous</a></li>
                  <li><a href="#">Signs/Symbols</a></li>
                  <li><a href="#">Abstract</a></li>
                  <li><a href="#">Editorial</a></li>
                  <li><a href="#">Miscellaneous</a></li>
                  <li><a href="#">Signs/Symbols</a></li>
                  <li><a href="#">Abstract</a></li>
                  <li><a href="#">Editorial</a></li>
                  <li><a href="#">Miscellaneous</a></li>
                  <li><a href="#">Signs/Symbols</a></li>
                </ul>
              </div>
            </div>
            <div class="tab-pane" id="tab2">
              <div class="row">
                <ul class="unstyled navbar-tag-list">
                  <li><a href="#">Video 1</a></li>
                  <li><a href="#">Video 2</a></li>
                  <li><a href="#">Video 3</a></li>
                  <li><a href="#">Video 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--        <ul class="unstyled navbar-tag-list">-->
        <!--          <li><a href="#">Abstract</a></li>-->
        <!--          <li><a href="#">Editorial</a></li>-->
        <!--          <li><a href="#">Miscellaneous</a></li>-->
        <!--          <li><a href="#">Signs/Symbols</a></li>-->
        <!--          <li><a href="#">Abstract</a></li>-->
        <!--          <li><a href="#">Editorial</a></li>-->
        <!--          <li><a href="#">Miscellaneous</a></li>-->
        <!--          <li><a href="#">Signs/Symbols</a></li>-->
        <!--          <li><a href="#">Abstract</a></li>-->
        <!--          <li><a href="#">Editorial</a></li>-->
        <!--          <li><a href="#">Miscellaneous</a></li>-->
        <!--          <li><a href="#">Signs/Symbols</a></li>-->
        <!--          <li><a href="#">Abstract</a></li>-->
        <!--          <li><a href="#">Editorial</a></li>-->
        <!--          <li><a href="#">Miscellaneous</a></li>-->
        <!--          <li><a href="#">Signs/Symbols</a></li>-->
        <!--          <li><a href="#">Abstract</a></li>-->
        <!--          <li><a href="#">Editorial</a></li>-->
        <!--          <li><a href="#">Miscellaneous</a></li>-->
        <!--          <li><a href="#">Signs/Symbols</a></li>-->
        <!--        </ul>-->
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<footer>
  <div class="container">
    <div class="row">
      <div class="span4">
        <div class="footer-widgets">
          <h4 class="title">About iPictures</h4>
          <p class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s.
          </p>
          <a href="#" class="btn">Looking for Partnership?</a>
        </div>
      </div>
      <div class="span3">
        <div class="footer-widgets">
          <h4 class="title">Contact</h4>
          <p class="description">
            Single ZIP city, unique first letter of single street name: 19 Quaker Ridge Rd. Bethel CT 06801
          </p>
          <h4 class="title">Give us a Call</h4>
          <div class="row-fluid">
            <div class="span2">
              <i class="icon-tablet icon-4x"></i>
            </div>
            <div class="span10">
              <p>+1 (857) 545 854 85</p>
              <p>+1 (589) 578 655 25</p>
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="footer-widgets">
          <h4 class="title">Weekly Newsletter</h4>
          <form class="subscribe">
            <fieldset>
              <input type="text" placeholder="Name" />
              <input type="text" placeholder="Email" />
              <button type="submit" class="btn">Subscribe</button>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="span2">
        <div class="footer-widgets">
          <h4 class="title">Press Resources</h4>
          <ul class="unstyled">
            <li><a href="#">Branding Guidelines</a></li>
            <li><a href="#">Press Kit</a></li>
            <li><a href="#">iPictures Logo</a></li>
          </ul>
          <h4 class="title">Social Networks</h4>
          <ul class="unstyled inline">
            <li><a class="fc-webicon facebook" href="#"></a></li>
            <li><a class="fc-webicon twitter" href="#"></a></li>
            <li><a class="fc-webicon googleplus" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="subfooter">
  <div class="container">
    <div class="row">
      <div class="span1">
        <a href="#" class="footer-logo"><img src="img/logo2.png" alt="logo"/></a>
      </div>
      <div class="span11">
        <p class="copy">All contents &copy; copyright 1999-2013 iPictures, Inc. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
