<section class="main-pictures-cotainer">
  <div class="container">
    <div class="row" style="margin-top: 200px;">
      <div class="span6 offset3">
        <h1 class="text-center" style="color: #ffffff; font-weight: bolder">
          {{ etiketAraText[seciliDil].gorselArsivBaslik }}
        </h1>
        <p class="text-center" style="color: #ffffff">{{ etiketAraText[seciliDil].gorselArsivAciklama }}</p>
        <div class="search-form">
          <form (submit)="etiketAraFormSubmit()" class="dropdown-search-box">
            <ejs-multiselect
              id="seciliEtiketler"
              [dataSource]="etiketler"
              [fields]="etiketAlanlar"
              [placeholder]="etiketAraText[seciliDil][this.seciliArsivTip]"
              [(value)]="seciliEtiketler"
              style="padding: 10px;"
            ></ejs-multiselect>
            <button
              class="btn"
              style="position: relative;float: right;bottom: 52px;left: -6px; background: #ffffff; border: none; font-size: large"
            >
              <i class="icon icon-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="top-images">
  <div class="container">
    <div class="images-container">
      <div class="row" *ngIf="arsivGorselDataSource">
        <cdk-virtual-scroll-viewport
          itemSize="12"
          class="arsiv-scrollbar"
          (scrolledIndexChange)="sayfaDegistir($event)"
        >
          <li *cdkVirtualFor="let arsivGorsel of arsivGorselDataSource">
            <div *ngIf="arsivGorsel">
              <div class="span3">
                <figure class="top-img" style="margin-top: 10px;">
                  <img class="arsiv-gorsel" [src]="arsivGorsel.GorselUrl" alt="img" />

                  <figcaption class="img-meta">
                    <div class="row-fluid">
                      <div class="span8">
                        <a href="#" class="img-tags" *ngIf="arsivGorsel[seciliDil]">{{
                          arsivGorsel[seciliDil].GorselAd
                        }}</a>
                      </div>
                      <div class="span4">
                        <div class="dropdown">
                          <a
                            href="#"
                            class="btn download-btn dropdown-toggle f-right"
                            type="button"
                            data-toggle="dropdown"
                            ><i class="icon-download"></i
                          ></a>
                          <ul class="dropdown-menu" *ngIf="arsivGorsel.Yatay">
                            <li>
                              <a target="_blank" [href]="arsivGorsel.GorselUrlYatay1280X720">1280 x 720</a>
                            </li>
                            <li>
                              <a target="_blank" [href]="arsivGorsel.GorselUrlYatay2560X1440">2560 x 1440</a>
                            </li>
                            <li>
                              <a target="_blank" [href]="arsivGorsel.GorselUrlYatay3840X2160">3840 x 2160</a>
                            </li>
                          </ul>
                          <ul class="dropdown-menu" *ngIf="!arsivGorsel.Yatay">
                            <li>
                              <a target="_blank" [href]="arsivGorsel.GorselUrlDikey720X1280">720 x 1280</a>
                            </li>
                            <li>
                              <a target="_blank" [href]="arsivGorsel.GorselUrlDikey1440X2560">1440 x 2560</a>
                            </li>
                            <li>
                              <a target="_blank" [href]="arsivGorsel.GorselUrlDikey2160X3840">2160 x 3840</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </figcaption>

                  <div class="roll-over" (click)="gorselDetayDialogAc(arsivGorsel)"></div>
                </figure>
              </div>
            </div>
            <div *ngIf="!arsivGorsel">
              Loading ...
            </div>
          </li>
        </cdk-virtual-scroll-viewport>
      </div>
      <div class="row" *ngIf="arsivVideoDataSource">
        <cdk-virtual-scroll-viewport
          itemSize="12"
          class="arsiv-scrollbar"
          (scrolledIndexChange)="sayfaDegistir($event)"
        >
          <li *cdkVirtualFor="let arsivVideo of arsivVideoDataSource">
            <div *ngIf="arsivVideo">
              <div class="span3">
                <figure class="top-img" style="margin-top: 10px;">
                  <video style="width: 100%;" src="{{ arsivVideo.VideoUrl }}"></video>

                  <figcaption class="img-meta">
                    <div class="row-fluid">
                      <div class="span8">
                        <a href="#" class="img-tags" *ngIf="arsivVideo[seciliDil]">{{
                          arsivVideo[seciliDil].VideoAd
                        }}</a>
                      </div>
                      <div class="span4">
                        <a
                          target="_blank"
                          [href]="arsivVideo.VideoUrl"
                          class="btn download-btn f-right"
                          type="button"
                          download
                          ><i class="icon-download"></i
                        ></a>
                      </div>
                    </div>
                  </figcaption>

                  <div class="roll-over" (click)="videoDetayDialogAc(arsivVideo)"></div>
                </figure>
              </div>
            </div>
            <div *ngIf="!arsivVideo">
              Loading ...
            </div>
          </li>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>
</section>
